@font-face {
  font-family: "PP-Editorial";
  font-weight: 400;
  src: url("../assets/fonts/PPEditorialNew-Regular.woff") format("woff");
}

@font-face {
  font-family: "PP-Editorial";
  font-weight: 300;
  src: url("../assets/fonts/PPEditorialNew-Ultralight.woff") format("woff");
}

@font-face {
  font-family: coolvetica;
  src: url("../assets/fonts/CoolveticaRg-Regular.woff") format("woff");
}
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 300;
  font-style: normal;
}
.pretendard {
  font-family: "Pretendard";
}
.coolvetica {
  font-family: "coolvetica";
}
.konkhmer-sleokchher-regular {
  font-family: "Konkhmer Sleokchher", serif;
  font-weight: 400;
  font-style: normal;
}
